$icomoon-font-family: "harmonyos" !default;
$icomoon-font-path: "fonts" !default;

$hm-arrow-up: "\e900";
$hm-arrow-down: "\e901";
$hm-arrow-left: "\e902";
$hm-arrow-left-filled: "\e903";
$hm-arrow-right: "\e904";
$hm-arrow-right-filled: "\e905";
$hm-sort-ascending: "\e906";
$hm-sort-descending: "\e907";
$hm-back: "\e908";
$hm-back-to-top: "\e909";
$hm-upload: "\e90a";
$hm-upload-filled: "\e90b";
$hm-download: "\e90c";
$hm-download-filled: "\e90d";
$hm-cloud-upload: "\e90e";
$hm-cloud-download: "\e90f";
$hm-grow: "\e910";
$hm-shrink: "\e911";
$hm-topping: "\e912";
$hm-topping-filled: "\e913";
$hm-upgrade: "\e914";
$hm-upgrade-filled: "\e915";
$hm-send: "\e916";
$hm-send-filled: "\e917";
$hm-refresh: "\e918";
$hm-reset: "\e919";
$hm-spinner: "\e91a";
$hm-spinner-small: "\e91b";
$hm-merge: "\e91c";
$hm-sync-path1: "\e91d";
$hm-sync-path2: "\e91e";
$hm-quick-reply: "\e91f";
$hm-forwarding: "\e920";
$hm-set: "\e921";
$hm-quit: "\e922";
$hm-phone: "\e923";
$hm-phone-filled: "\e924";
$hm-call-vo-lte: "\e925";
$hm-call-volte: "\e926";
$hm-call-vo4g: "\e927";
$hm-call-hd: "\e928";
$hm-call-wifi: "\e929";
$hm-call-r: "\e92a";
$hm-dial-volte: "\e92b";
$hm-dial-voz4g: "\e92c";
$hm-dial-wifi: "\e92d";
$hm-call-dial-wifi: "\e92e";
$hm-call-log-volte: "\e92f";
$hm-call-log-voz4g: "\e930";
$hm-call-log-vowifi: "\e931";
$hm-call-log-wifi: "\e932";
$hm-call-log-double-line-volte: "\e933";
$hm-call-log-double-line-voz4g: "\e934";
$hm-call-log-double-line-vowifi: "\e935";
$hm-call-log-double-line-vozwifi: "\e936";
$hm-hi-call: "\e937";
$hm-hi-call-filled: "\e938";
$hm-records-sim-call: "\e939";
$hm-sys-sim-1-call: "\e93a";
$hm-sys-sim-2-call: "\e93b";
$hm-sim-card-path1: "\e93c";
$hm-sim-card-path2: "\e93d";
$hm-sim-card-path3: "\e93e";
$hm-sim-card-path4: "\e93f";
$hm-call-1: "\e940";
$hm-call-1-filled: "\e941";
$hm-call-2: "\e942";
$hm-call-2-filled: "\e943";
$hm-encryption-calls: "\e944";
$hm-encryption-calls-filled: "\e945";
$hm-call-encryption-calls: "\e946";
$hm-call-encryption-calls-filled: "\e947";
$hm-call-1-encryption-calls: "\e948";
$hm-call-2-encryption-calls: "\e949";
$hm-call-1-volte: "\e94a";
$hm-call-2-volte: "\e94b";
$hm-call-1-voz4g: "\e94c";
$hm-call-2-voz4g: "\e94d";
$hm-call-1-vowifi: "\e94e";
$hm-call-2-vowifi: "\e94f";
$hm-call-1-hd: "\e950";
$hm-call-2-hd: "\e951";
$hm-call-1-wifi: "\e952";
$hm-call-2-wifi: "\e953";
$hm-phone-dial: "\e954";
$hm-phone-dial-delete: "\e955";
$hm-incoming-filled: "\e956";
$hm-missed-filled: "\e957";
$hm-refuse-filled: "\e958";
$hm-outgoing-filled: "\e959";
$hm-video-call-incoming: "\e95a";
$hm-video-call-missed: "\e95b";
$hm-video-call-refuse: "\e95c";
$hm-video-call-outgoing: "\e95d";
$hm-rcs-incoming: "\e95e";
$hm-rcs-missed: "\e95f";
$hm-rcs-refuse: "\e960";
$hm-rcs-outgoing: "\e961";
$hm-rcs-list-asc: "\e962";
$hm-rcs-list-desc: "\e963";
$hm-personal-emergency-information: "\e964";
$hm-voicemail-voice-to-text: "\e965";
$hm-voicemail-voice-to-message: "\e966";
$hm-voicemail: "\e967";
$hm-voice-message-details: "\e968";
$hm-voice-message-details-filled: "\e969";
$hm-message: "\e96a";
$hm-message-filled: "\e96b";
$hm-community-messages: "\e96c";
$hm-community-messages-filled: "\e96d";
$hm-subject: "\e96e";
$hm-comments: "\e96f";
$hm-comments-filled: "\e970";
$hm-read-path1: "\e971";
$hm-read-path2: "\e972";
$hm-connection: "\e973";
$hm-connection-filled: "\e974";
$hm-mobile-data: "\e975";
$hm-mobile-data-filled: "\e976";
$hm-wlan: "\e977";
$hm-wlan-filled: "\e978";
$hm-bluetooth-on: "\e979";
$hm-bluetooth-on-filled: "\e97a";
$hm-bluetooth-off: "\e97b";
$hm-bluetooth-off-filled: "\e97c";
$hm-wireless-projection: "\e97d";
$hm-wireless-projection-filled: "\e97e";
$hm-hd: "\e97f";
$hm-g: "\e980";
$hm-signal-4g: "\e981";
$hm-signal-5g: "\e982";
$hm-wifi: "\e983";
$hm-wifi6: "\e984";
$hm-wifi6-plus: "\e985";
$hm-wifi-error: "\e986";
$hm-wifi6-error: "\e987";
$hm-wifi6-plus-error: "\e988";
$hm-wifi-lock: "\e989";
$hm-wifi6-lock: "\e98a";
$hm-wifi6-plus-lock: "\e98b";
$hm-wifi-prohibit: "\e98c";
$hm-wifi6-prohibit: "\e98d";
$hm-wifi6-plus-prohibit: "\e98e";
$hm-wifi-risk: "\e98f";
$hm-wifi6-risk: "\e990";
$hm-wifi6-plus-risk: "\e991";
$hm-wifi-hotspot: "\e992";
$hm-hotspot: "\e993";
$hm-bluetooth: "\e994";
$hm-bluetooth-connect: "\e995";
$hm-bluetooth-battery-path1: "\e996";
$hm-bluetooth-battery-path2: "\e997";
$hm-headphones-connect: "\e998";
$hm-bvp-connect-path1: "\e999";
$hm-bvp-connect-path2: "\e99a";
$hm-bvp-connect-path3: "\e99b";
$hm-bvp-battery-path1: "\e99c";
$hm-bvp-battery-path2: "\e99d";
$hm-bvp-battery-path3: "\e99e";
$hm-glass-battery: "\e99f";
$hm-wlan-cast: "\e9a0";
$hm-location: "\e9a1";
$hm-nfc: "\e9a2";
$hm-airplane-mode: "\e9a3";
$hm-no-sim: "\e9a4";
$hm-eye-care: "\e9a5";
$hm-alarm-clock: "\e9a6";
$hm-vibration: "\e9a7";
$hm-mute: "\e9a8";
$hm-no-disturb: "\e9a9";
$hm-battery: "\e9aa";
$hm-battery-power-saving-path1: "\e9ab";
$hm-battery-power-saving-path2: "\e9ac";
$hm-battery-charging-path1: "\e9ad";
$hm-battery-charging-path2: "\e9ae";
$hm-battery-charging-path3: "\e9af";
$hm-battery-quick-charging-path1: "\e9b0";
$hm-battery-quick-charging-path2: "\e9b1";
$hm-battery-quick-charging-path3: "\e9b2";
$hm-battery-super-charging-path1: "\e9b3";
$hm-battery-super-charging-path2: "\e9b4";
$hm-battery-super-charging-path3: "\e9b5";
$hm-battery-wireless-charging-path1: "\e9b6";
$hm-battery-wireless-charging-path2: "\e9b7";
$hm-battery-wireless-charging-path3: "\e9b8";
$hm-battery-wireless-charging-path4: "\e9b9";
$hm-battery-wireless-quick-charging-path1: "\e9ba";
$hm-battery-wireless-quick-charging-path2: "\e9bb";
$hm-battery-wireless-quick-charging-path3: "\e9bc";
$hm-battery-wireless-quick-charging-path4: "\e9bd";
$hm-battery-wireless-super-charging-path1: "\e9be";
$hm-battery-wireless-super-charging-path2: "\e9bf";
$hm-battery-wireless-super-charging-path3: "\e9c0";
$hm-battery-wireless-super-charging-path4: "\e9c1";
$hm-charging: "\e9c2";
$hm-quick-charging: "\e9c3";
$hm-super-charging: "\e9c4";
$hm-wireless-charging: "\e9c5";
$hm-wireless-quick-charging: "\e9c6";
$hm-wireless-super-charging: "\e9c7";
$hm-reverse-charging: "\e9c8";
$hm-reboot: "\e9c9";
$hm-power-off: "\e9ca";
$hm-mobile-phone: "\e9cb";
$hm-mobile-phone-filled: "\e9cc";
$hm-foldable-screen: "\e9cd";
$hm-foldable-screen-filled-path1: "\e9ce";
$hm-foldable-screen-filled-path2: "\e9cf";
$hm-foldable-screen-filled-path3: "\e9d0";
$hm-pad: "\e9d1";
$hm-pad-filled-path1: "\e9d2";
$hm-pad-filled-path2: "\e9d3";
$hm-mate-book: "\e9d4";
$hm-mate-book-filled-path1: "\e9d5";
$hm-mate-book-filled-path2: "\e9d6";
$hm-smart-screen: "\e9d7";
$hm-smart-screen-filled-path1: "\e9d8";
$hm-smart-screen-filled-path2: "\e9d9";
$hm-watch: "\e9da";
$hm-watch-filled-path1: "\e9db";
$hm-watch-filled-path2: "\e9dc";
$hm-watch-fit: "\e9dd";
$hm-watch-fit-filled-path1: "\e9de";
$hm-watch-fit-filled-path2: "\e9df";
$hm-band: "\e9e0";
$hm-band-filled-path1: "\e9e1";
$hm-band-filled-path2: "\e9e2";
$hm-kids-watch: "\e9e3";
$hm-kids-watch-filled-path1: "\e9e4";
$hm-kids-watch-filled-path2: "\e9e5";
$hm-earphone-shark: "\e9e6";
$hm-earphone-shark-filled-path1: "\e9e7";
$hm-earphone-shark-filled-path2: "\e9e8";
$hm-earphone-shark-filled-path3: "\e9e9";
$hm-earphone-shark-left: "\e9ea";
$hm-earphone-shark-left-filled-path1: "\e9eb";
$hm-earphone-shark-left-filled-path2: "\e9ec";
$hm-earphone-shark-left-filled-path3: "\e9ed";
$hm-earphone-shark-right: "\e9ee";
$hm-earphone-shark-right-filled-path1: "\e9ef";
$hm-earphone-shark-right-filled-path2: "\e9f0";
$hm-earphone-shark-right-filled-path3: "\e9f1";
$hm-earphone-h2: "\e9f2";
$hm-earphone-h2-filled-path1: "\e9f3";
$hm-earphone-h2-filled-path2: "\e9f4";
$hm-earphone-h2-filled-path3: "\e9f5";
$hm-earphone-h2-left: "\e9f6";
$hm-earphone-h2-left-filled-path1: "\e9f7";
$hm-earphone-h2-left-filled-path2: "\e9f8";
$hm-earphone-h2-left-filled-path3: "\e9f9";
$hm-earphone-h2-right: "\e9fa";
$hm-earphone-h2-right-filled-path1: "\e9fb";
$hm-earphone-h2-right-filled-path2: "\e9fc";
$hm-earphone-h2-right-filled-path3: "\e9fd";
$hm-earphone-hero: "\e9fe";
$hm-earphone-hero-filled-path1: "\e9ff";
$hm-earphone-hero-filled-path2: "\ea00";
$hm-earphone-hero-filled-path3: "\ea01";
$hm-earphone-hero-left: "\ea02";
$hm-earphone-hero-left-filled-path1: "\ea03";
$hm-earphone-hero-left-filled-path2: "\ea04";
$hm-earphone-hero-left-filled-path3: "\ea05";
$hm-earphone-hero-right: "\ea06";
$hm-earphone-hero-right-filled-path1: "\ea07";
$hm-earphone-hero-right-filled-path2: "\ea08";
$hm-earphone-hero-right-filled-path3: "\ea09";
$hm-earphone-mermaid: "\ea0a";
$hm-earphone-mermaid-filled-path1: "\ea0b";
$hm-earphone-mermaid-filled-path2: "\ea0c";
$hm-earphone-mermaid-filled-path3: "\ea0d";
$hm-earphone-mermaid-left: "\ea0e";
$hm-earphone-mermaid-left-filled-path1: "\ea0f";
$hm-earphone-mermaid-left-filled-path2: "\ea10";
$hm-earphone-mermaid-left-filled-path3: "\ea11";
$hm-earphone-mermaid-right: "\ea12";
$hm-earphone-mermaid-right-filled-path1: "\ea13";
$hm-earphone-mermaid-right-filled-path2: "\ea14";
$hm-earphone-mermaid-right-filled-path3: "\ea15";
$hm-earphone-otter: "\ea16";
$hm-earphone-otter-filled-path1: "\ea17";
$hm-earphone-otter-filled-path2: "\ea18";
$hm-earphone-otter-filled-path3: "\ea19";
$hm-earphone-otter-left: "\ea1a";
$hm-earphone-otter-left-filled-path1: "\ea1b";
$hm-earphone-otter-left-filled-path2: "\ea1c";
$hm-earphone-otter-left-filled-path3: "\ea1d";
$hm-earphone-otter-right: "\ea1e";
$hm-earphone-otter-right-filled-path1: "\ea1f";
$hm-earphone-otter-right-filled-path2: "\ea20";
$hm-earphone-otter-right-filled-path3: "\ea21";
$hm-earphone-walrus: "\ea22";
$hm-earphone-walrus-filled-path1: "\ea23";
$hm-earphone-walrus-filled-path2: "\ea24";
$hm-earphone-walrus-filled-path3: "\ea25";
$hm-earphone-walrus-left: "\ea26";
$hm-earphone-walrus-left-filled-path1: "\ea27";
$hm-earphone-walrus-left-filled-path2: "\ea28";
$hm-earphone-walrus-left-filled-path3: "\ea29";
$hm-earphone-walrus-right: "\ea2a";
$hm-earphone-walrus-right-filled-path1: "\ea2b";
$hm-earphone-walrus-right-filled-path2: "\ea2c";
$hm-earphone-walrus-right-filled-path3: "\ea2d";
$hm-earphone-nile: "\ea2e";
$hm-earphone-nile-filled-path1: "\ea2f";
$hm-earphone-nile-filled-path2: "\ea30";
$hm-earphone-battery-round: "\ea31";
$hm-earphone-battery-oval: "\ea32";
$hm-earphone-battery-flat: "\ea33";
$hm-earphone-battery-horizontal: "\ea34";
$hm-earphone-battery-vertical: "\ea35";
$hm-earphone-battery-left: "\ea36";
$hm-earphone-battery-right: "\ea37";
$hm-headphone-roc: "\ea38";
$hm-headphone-roc-filled-path1: "\ea39";
$hm-headphone-roc-filled-path2: "\ea3a";
$hm-headphone: "\ea3b";
$hm-headphone-filled-path1: "\ea3c";
$hm-headphone-filled-path2: "\ea3d";
$hm-headphone-bluetooth: "\ea3e";
$hm-headphone-bluetooth-filled-path1: "\ea3f";
$hm-headphone-bluetooth-filled-path2: "\ea40";
$hm-sound-x: "\ea41";
$hm-sound-x-filled-path1: "\ea42";
$hm-sound-x-filled-path2: "\ea43";
$hm-sound-x-filled-path3: "\ea44";
$hm-sound-ai: "\ea45";
$hm-sound-ai-filled-path1: "\ea46";
$hm-sound-ai-filled-path2: "\ea47";
$hm-sound: "\ea48";
$hm-sound-filled-path1: "\ea49";
$hm-sound-filled-path2: "\ea4a";
$hm-sound-cm530: "\ea4b";
$hm-sound-cm530-filled-path1: "\ea4c";
$hm-sound-cm530-filled-path2: "\ea4d";
$hm-sound-cm530-filled-path3: "\ea4e";
$hm-sound-cm510: "\ea4f";
$hm-sound-cm510-filled-path1: "\ea50";
$hm-sound-cm510-filled-path2: "\ea51";
$hm-sound-cm510-filled-path3: "\ea52";
$hm-skylark: "\ea53";
$hm-skylark-filled-path1: "\ea54";
$hm-skylark-filled-path2: "\ea55";
$hm-skylark-group: "\ea56";
$hm-skylark-group-filled-path1: "\ea57";
$hm-skylark-group-filled-path2: "\ea58";
$hm-egretta: "\ea59";
$hm-egretta-filled-path1: "\ea5a";
$hm-egretta-filled-path2: "\ea5b";
$hm-egretta-group: "\ea5c";
$hm-egretta-group-filled-path1: "\ea5d";
$hm-egretta-group-filled-path2: "\ea5e";
$hm-glass: "\ea5f";
$hm-glass-filled-path1: "\ea60";
$hm-glass-filled-path2: "\ea61";
$hm-glass-filled-path3: "\ea62";
$hm-vrglass: "\ea63";
$hm-vrglass-filled-path1: "\ea64";
$hm-vrglass-filled-path2: "\ea65";
$hm-vrglass-filled-path3: "\ea66";
$hm-vrglass-filled-path4: "\ea67";
$hm-input-keyboard: "\ea68";
$hm-input-voice: "\ea69";
$hm-input-search: "\ea6a";
$hm-input-scan: "\ea6b";
$hm-input-code: "\ea6c";
$hm-text: "\ea6d";
$hm-text-filled: "\ea6e";
$hm-search: "\ea6f";
$hm-search-filled: "\ea70";
$hm-scan: "\ea71";
$hm-scan-filled: "\ea72";
$hm-translate-c2e: "\ea73";
$hm-translate-e2c: "\ea74";
$hm-search-title: "\ea75";
$hm-search-text: "\ea76";
$hm-search-things: "\ea77";
$hm-switch-audio: "\ea78";
$hm-switch-camera: "\ea79";
$hm-new: "\ea7a";
$hm-new-filled: "\ea7b";
$hm-confirm: "\ea7c";
$hm-confirm-filled: "\ea7d";
$hm-cancel: "\ea7e";
$hm-cancel-filled: "\ea7f";
$hm-add: "\ea80";
$hm-add-filled: "\ea81";
$hm-remove: "\ea82";
$hm-remove-filled: "\ea83";
$hm-ok: "\ea84";
$hm-ok-filled: "\ea85";
$hm-close: "\ea86";
$hm-close-filled: "\ea87";
$hm-list-add-transparent-path1: "\ea88";
$hm-list-add-transparent-path2: "\ea89";
$hm-list-add-path1: "\ea8a";
$hm-list-add-path2: "\ea8b";
$hm-list-remove-path1: "\ea8c";
$hm-list-remove-path2: "\ea8d";
$hm-list-delete-path1: "\ea8e";
$hm-list-delete-path2: "\ea8f";
$hm-folder: "\ea90";
$hm-folder_filled: "\ea91";
$hm-new-folder: "\ea92";
$hm-view-grid: "\ea93";
$hm-view-list: "\ea94";
$hm-view-list-filled: "\ea95";
$hm-list-name: "\ea96";
$hm-rename: "\ea97";
$hm-select: "\ea98";
$hm-select-all: "\ea99";
$hm-select-all-filled: "\ea9a";
$hm-drag-handle: "\ea9b";
$hm-drag-handle-filled: "\ea9c";
$hm-share: "\ea9d";
$hm-share-filled: "\ea9e";
$hm-copy: "\ea9f";
$hm-copy-filled: "\eaa0";
$hm-move: "\eaa1";
$hm-move_filled: "\eaa2";
$hm-edit: "\eaa3";
$hm-edit-filled: "\eaa4";
$hm-delete: "\eaa5";
$hm-delete-filled: "\eaa6";
$hm-more: "\eaa7";
$hm-more-filled: "\eaa8";
$hm-more-list: "\eaa9";
$hm-move-in-album: "\eaaa";
$hm-move-out-album: "\eaab";
$hm-photo-edit-location: "\eaac";
$hm-photo-edit-create: "\eaad";
$hm-photo-edit-collage: "\eaae";
$hm-photo-edit-document-correction: "\eaaf";
$hm-photo-edit-crop-1-1: "\eab0";
$hm-photo-edit-crop-2-3: "\eab1";
$hm-photo-edit-crop-3-2: "\eab2";
$hm-photo-edit-crop-3-4: "\eab3";
$hm-photo-edit-crop-4-3: "\eab4";
$hm-photo-edit-crop-9-16: "\eab5";
$hm-photo-edit-crop-16-9: "\eab6";
$hm-photo-edit-crop-9-21: "\eab7";
$hm-photo-edit-crop-21-9: "\eab8";
$hm-photo-edit-rotate: "\eab9";
$hm-photo-edit-rectify: "\eaba";
$hm-photo-edit-free: "\eabb";
$hm-photo-edit-more: "\eabc";
$hm-screenshot-arbitrary-graphics: "\eabd";
$hm-screenshot-rectangle: "\eabe";
$hm-screenshot-pen-shape: "\eabf";
$hm-screenshot-waveform: "\eac0";
$hm-screenshot-arrowhead: "\eac1";
$hm-screenshot-line: "\eac2";
$hm-screenshot-square: "\eac3";
$hm-screenshot-circle: "\eac4";
$hm-screenshot-thickness: "\eac5";
$hm-screenshot-graffiti: "\eac6";
$hm-screenshot-mosaic: "\eac7";
$hm-screenshot-scrollshot: "\eac8";
$hm-files-document-path1: "\eac9";
$hm-files-document-path2: "\eaca";
$hm-files-document-path3: "\eacb";
$hm-files-document-path4: "\eacc";
$hm-files-document-path5: "\eacd";
$hm-files-document-txt-path1: "\eace";
$hm-files-document-txt-path2: "\eacf";
$hm-files-document-txt-path3: "\ead0";
$hm-files-document-txt-path4: "\ead1";
$hm-files-document-txt-path5: "\ead2";
$hm-files-document-txt-path6: "\ead3";
$hm-files-document-txt-path7: "\ead4";
$hm-files-document-txt-path8: "\ead5";
$hm-files-document-log-path1: "\ead6";
$hm-files-document-log-path2: "\ead7";
$hm-files-document-log-path3: "\ead8";
$hm-files-document-log-path4: "\ead9";
$hm-files-document-log-path5: "\eada";
$hm-files-document-xml-path1: "\eadb";
$hm-files-document-xml-path2: "\eadc";
$hm-files-document-xml-path3: "\eadd";
$hm-files-document-xml-path4: "\eade";
$hm-files-document-xml-path5: "\eadf";
$hm-files-document-xml-path6: "\eae0";
$hm-files-document-html-path1: "\eae1";
$hm-files-document-html-path2: "\eae2";
$hm-files-document-html-path3: "\eae3";
$hm-files-document-html-path4: "\eae4";
$hm-files-document-html-path5: "\eae5";
$hm-files-document-html-path6: "\eae6";
$hm-files-document-html-path7: "\eae7";
$hm-files-document-html-path8: "\eae8";
$hm-files-document-html-path9: "\eae9";
$hm-files-document-chm-path1: "\eaea";
$hm-files-document-chm-path2: "\eaeb";
$hm-files-document-chm-path3: "\eaec";
$hm-files-document-chm-path4: "\eaed";
$hm-files-document-chm-path5: "\eaee";
$hm-files-document-chm-path6: "\eaef";
$hm-files-document-chm-path7: "\eaf0";
$hm-files-document-docx-path1: "\eaf1";
$hm-files-document-docx-path2: "\eaf2";
$hm-files-document-docx-path3: "\eaf3";
$hm-files-document-docx-path4: "\eaf4";
$hm-files-document-xlsx-path1: "\eaf5";
$hm-files-document-xlsx-path2: "\eaf6";
$hm-files-document-xlsx-path3: "\eaf7";
$hm-files-document-xlsx-path4: "\eaf8";
$hm-files-document-pptx-path1: "\eaf9";
$hm-files-document-pptx-path2: "\eafa";
$hm-files-document-pptx-path3: "\eafb";
$hm-files-document-pptx-path4: "\eafc";
$hm-files-document-pdf-path1: "\eafd";
$hm-files-document-pdf-path2: "\eafe";
$hm-files-document-pdf-path3: "\eaff";
$hm-files-document-pdf-path4: "\eb00";
$hm-files-document-pdf-path5: "\eb01";
$hm-files-document-pdf-path6: "\eb02";
$hm-files-image-path1: "\eb03";
$hm-files-image-path2: "\eb04";
$hm-files-image-path3: "\eb05";
$hm-files-image-path4: "\eb06";
$hm-files-audio-path1: "\eb07";
$hm-files-audio-path2: "\eb08";
$hm-files-audio-path3: "\eb09";
$hm-files-audio-wav-path1: "\eb0a";
$hm-files-audio-wav-path2: "\eb0b";
$hm-files-audio-wav-path3: "\eb0c";
$hm-files-audio-wav-path4: "\eb0d";
$hm-files-audio-wav-path5: "\eb0e";
$hm-files-audio-wav-path6: "\eb0f";
$hm-files-audio-wav-path7: "\eb10";
$hm-files-audio-mp3-path1: "\eb11";
$hm-files-audio-mp3-path2: "\eb12";
$hm-files-audio-mp3-path3: "\eb13";
$hm-files-audio-mp3-path4: "\eb14";
$hm-files-audio-mp3-path5: "\eb15";
$hm-files-audio-mp3-path6: "\eb16";
$hm-files-audio-wma-path1: "\eb17";
$hm-files-audio-wma-path2: "\eb18";
$hm-files-audio-wma-path3: "\eb19";
$hm-files-audio-wma-path4: "\eb1a";
$hm-files-audio-wma-path5: "\eb1b";
$hm-files-audio-wma-path6: "\eb1c";
$hm-files-audio-wma-path7: "\eb1d";
$hm-files-audio-flac-path1: "\eb1e";
$hm-files-audio-flac-path2: "\eb1f";
$hm-files-audio-flac-path3: "\eb20";
$hm-files-audio-flac-path4: "\eb21";
$hm-files-audio-flac-path5: "\eb22";
$hm-files-audio-flac-path6: "\eb23";
$hm-files-audio-flac-path7: "\eb24";
$hm-files-audio-flac-path8: "\eb25";
$hm-files-audio-flac-path9: "\eb26";
$hm-files-audio-ape-path1: "\eb27";
$hm-files-audio-ape-path2: "\eb28";
$hm-files-audio-ape-path3: "\eb29";
$hm-files-audio-ape-path4: "\eb2a";
$hm-files-audio-ape-path5: "\eb2b";
$hm-files-audio-ape-path6: "\eb2c";
$hm-files-audio-ape-path7: "\eb2d";
$hm-files-audio-ape-path8: "\eb2e";
$hm-files-audio-m4a-path1: "\eb2f";
$hm-files-audio-m4a-path2: "\eb30";
$hm-files-audio-m4a-path3: "\eb31";
$hm-files-audio-m4a-path4: "\eb32";
$hm-files-audio-m4a-path5: "\eb33";
$hm-files-audio-m4a-path6: "\eb34";
$hm-files-audio-m4a-path7: "\eb35";
$hm-files-audio-amr-path1: "\eb36";
$hm-files-audio-amr-path2: "\eb37";
$hm-files-audio-amr-path3: "\eb38";
$hm-files-audio-amr-path4: "\eb39";
$hm-files-audio-amr-path5: "\eb3a";
$hm-files-audio-amr-path6: "\eb3b";
$hm-files-audio-amr-path7: "\eb3c";
$hm-files-audio-amr-path8: "\eb3d";
$hm-files-video-path1: "\eb3e";
$hm-files-video-path2: "\eb3f";
$hm-files-video-path3: "\eb40";
$hm-files-compress-path1: "\eb41";
$hm-files-compress-path2: "\eb42";
$hm-files-compress-path3: "\eb43";
$hm-files-compress-path4: "\eb44";
$hm-files-compress-path5: "\eb45";
$hm-files-compress-path6: "\eb46";
$hm-files-compress-path7: "\eb47";
$hm-files-compress-path8: "\eb48";
$hm-files-compress-path9: "\eb49";
$hm-files-compress-path10: "\eb4a";
$hm-files-compress-zip-path1: "\eb4b";
$hm-files-compress-zip-path2: "\eb4c";
$hm-files-compress-zip-path3: "\eb4d";
$hm-files-compress-zip-path4: "\eb4e";
$hm-files-compress-zip-path5: "\eb4f";
$hm-files-compress-zip-path6: "\eb50";
$hm-files-compress-zip-path7: "\eb51";
$hm-files-compress-zip-path8: "\eb52";
$hm-files-compress-zip-path9: "\eb53";
$hm-files-compress-zip-path10: "\eb54";
$hm-files-compress-zip-path11: "\eb55";
$hm-files-compress-zip-path12: "\eb56";
$hm-files-compress-zip-path13: "\eb57";
$hm-files-compress-rar-path1: "\eb58";
$hm-files-compress-rar-path2: "\eb59";
$hm-files-compress-rar-path3: "\eb5a";
$hm-files-compress-rar-path4: "\eb5b";
$hm-files-compress-rar-path5: "\eb5c";
$hm-files-compress-rar-path6: "\eb5d";
$hm-files-compress-rar-path7: "\eb5e";
$hm-files-compress-rar-path8: "\eb5f";
$hm-files-compress-rar-path9: "\eb60";
$hm-files-compress-rar-path10: "\eb61";
$hm-files-compress-rar-path11: "\eb62";
$hm-files-compress-rar-path12: "\eb63";
$hm-files-compress-rar-path13: "\eb64";
$hm-files-compress-rar-path14: "\eb65";
$hm-files-compress-rar-path15: "\eb66";
$hm-files-compress-rar-path16: "\eb67";
$hm-files-compress-7z-path1: "\eb68";
$hm-files-compress-7z-path2: "\eb69";
$hm-files-compress-7z-path3: "\eb6a";
$hm-files-compress-7z-path4: "\eb6b";
$hm-files-compress-7z-path5: "\eb6c";
$hm-files-compress-7z-path6: "\eb6d";
$hm-files-compress-7z-path7: "\eb6e";
$hm-files-compress-7z-path8: "\eb6f";
$hm-files-compress-7z-path9: "\eb70";
$hm-files-compress-7z-path10: "\eb71";
$hm-files-compress-7z-path11: "\eb72";
$hm-files-compress-7z-path12: "\eb73";
$hm-files-contact-path1: "\eb74";
$hm-files-contact-path2: "\eb75";
$hm-files-contact-path3: "\eb76";
$hm-files-calendar-path1: "\eb77";
$hm-files-calendar-path2: "\eb78";
$hm-files-calendar-path3: "\eb79";
$hm-files-calendar-path4: "\eb7a";
$hm-files-download-path1: "\eb7b";
$hm-files-download-path2: "\eb7c";
$hm-files-download-path3: "\eb7d";
$hm-files-download-path4: "\eb7e";
$hm-files-application-path1: "\eb7f";
$hm-files-application-path2: "\eb80";
$hm-files-application-path3: "\eb81";
$hm-files-application-path4: "\eb82";
$hm-files-application-path5: "\eb83";
$hm-files-application-path6: "\eb84";
$hm-files-unknown-path1: "\eb85";
$hm-files-unknown-path2: "\eb86";
$hm-files-unknown-path3: "\eb87";
$hm-files-folder-path1: "\eb88";
$hm-files-folder-path2: "\eb89";
$hm-files-folder-path3: "\eb8a";
$hm-files-folder-path4: "\eb8b";
$hm-files-folder-empty-path1: "\eb8c";
$hm-files-folder-empty-path2: "\eb8d";
$hm-files-folder-empty-path3: "\eb8e";
$hm-contacts: "\eb8f";
$hm-contacts-filled: "\eb90";
$hm-contacts-group: "\eb91";
$hm-contacts-group-filled: "\eb92";
$hm-contacts-add: "\eb93";
$hm-contacts-add-filled: "\eb94";
$hm-contacts-add-group: "\eb95";
$hm-contacts-add-group-filled: "\eb96";
$hm-nickname: "\eb97";
$hm-nickname-filled: "\eb98";
$hm-contacts-block: "\eb99";
$hm-assistant: "\eb9a";
$hm-assistant-filled: "\eb9b";
$hm-business-card: "\eb9c";
$hm-business-card-filled: "\eb9d";
$hm-portrait-path1: "\eb9e";
$hm-portrait-path2: "\eb9f";
$hm-detail: "\eba0";
$hm-detail-filled: "\eba1";
$hm-help: "\eba2";
$hm-help-filled: "\eba3";
$hm-forbid: "\eba4";
$hm-forbid-filled: "\eba5";
$hm-fail: "\eba6";
$hm-fail-filled: "\eba7";
$hm-error-path1: "\eba8";
$hm-error-path2: "\eba9";
$hm-privacy-statement: "\ebaa";
$hm-allergies-reaction: "\ebab";
$hm-keyboard-menu: "\ebac";
$hm-keyboard-default: "\ebad";
$hm-keyboard-pinyin: "\ebae";
$hm-keyboard-wubi: "\ebaf";
$hm-keyboard-zhuyin: "\ebb0";
$hm-keyboard-cangjie: "\ebb1";
$hm-keyboard-handwritten: "\ebb2";
$hm-keyboard-language: "\ebb3";
$hm-keyboard-mode: "\ebb4";
$hm-keyboard-one-hand: "\ebb5";
$hm-keyboard-float: "\ebb6";
$hm-keyboard-thumb: "\ebb7";
$hm-keyboard-size: "\ebb8";
$hm-keyboard-magnify: "\ebb9";
$hm-keyboard-move: "\ebba";
$hm-keyboard-resize: "\ebbb";
$hm-keyboard-restore: "\ebbc";
$hm-keyboard-selector: "\ebbd";
$hm-keyboard-cursor-left: "\ebbe";
$hm-keyboard-cursor-right: "\ebbf";
$hm-keyboard-delete: "\ebc0";
$hm-keyboard-enter: "\ebc1";
$hm-keyboard-feedback: "\ebc2";
$hm-keyboard-mechanical: "\ebc3";
$hm-keyboard-swipe-up: "\ebc4";
$hm-keyboard-traditional: "\ebc5";
$hm-keyboard-en-associate: "\ebc6";
$hm-keyboard-uppercase: "\ebc7";
$hm-keyboard-lowercase: "\ebc8";
$hm-keyboard-reverse-handed: "\ebc9";
$hm-camera-motion-photo: "\ebca";
$hm-camera-sound-photo: "\ebcb";
$hm-camera-video: "\ebcc";
$hm-camera-ai-on: "\ebcd";
$hm-camera-ai-off: "\ebce";
$hm-camera-fliter: "\ebcf";
$hm-camera-aperture: "\ebd0";
$hm-camera-aperture-on: "\ebd1";
$hm-camera-aperture-off: "\ebd2";
$hm-camera-aspect-ratio: "\ebd3";
$hm-camera-aspect-ratio-filled: "\ebd4";
$hm-camera-video-resolution: "\ebd5";
$hm-camera-zoom: "\ebd6";
$hm-camera-wide-angle: "\ebd7";
$hm-camera-continuous-shooting: "\ebd8";
$hm-camera-3d: "\ebd9";
$hm-camera-compose: "\ebda";
$hm-camera-full-screen-path1: "\ebdb";
$hm-camera-full-screen-path2: "\ebdc";
$hm-media-music: "\ebdd";
$hm-media-music-filled: "\ebde";
$hm-media-play: "\ebdf";
$hm-media-play-filled: "\ebe0";
$hm-media-pause: "\ebe1";
$hm-media-pause-filled: "\ebe2";
$hm-media-play-previous: "\ebe3";
$hm-media-play-next: "\ebe4";
$hm-media-order-play: "\ebe5";
$hm-media-shuffle-play: "\ebe6";
$hm-media-loop-play: "\ebe7";
$hm-media-single-loop-play: "\ebe8";
$hm-media-random-play: "\ebe9";
$hm-controlcenter-flightmode-filled: "\ebea";
$hm-controlcenter-5G-filled: "\ebeb";
$hm-controlcenter-mobiledata-filled: "\ebec";
$hm-controlcenter-wlan-filled: "\ebed";
$hm-controlcenter-bluetooth-filled: "\ebee";
$hm-controlcenter-location-filled: "\ebef";
$hm-controlcenter-nfc-filled: "\ebf0";
$hm-controlcenter-huaweishare-filled: "\ebf1";
$hm-controlcenter-hotspot-filled: "\ebf2";
$hm-controlcenter-wireless-projection-filled: "\ebf3";
$hm-switch-multi-screen: "\ebf4";
$hm-controlcenter-eyeconfort-filled: "\ebf5";
$hm-controlcenter-dark-filled: "\ebf6";
$hm-controlcenter-auto-rotate-filled: "\ebf7";
$hm-controlcenter-ring-on-filled: "\ebf8";
$hm-controlcenter-ring-off-filled: "\ebf9";
$hm-controlcenter-flashlight-on-filled: "\ebfa";
$hm-controlcenter-flashlight-off-filled: "\ebfb";
$hm-controlcenter-ultra-power-saver-filled: "\ebfc";
$hm-controlcenter-super-power-saver-filled: "\ebfd";
$hm-controlcenter-screenshot-filled: "\ebfe";
$hm-controlcenter-screen-recording-filled: "\ebff";
$hm-controlcenter-floatingdock-filled: "\ec00";
$hm-controlcenter-brightness-plus: "\ec01";
$hm-controlcenter-brightness-reduce: "\ec02";
$hm-controlcenter-donotdisturb-filled: "\ec03";
$hm-public-settings: "\ec04";
$hm-public-settings-filled: "\ec05";
$hm-public-sim: "\ec06";
$hm-public-sim-filled: "\ec07";
$hm-public-themes: "\ec08";
$hm-public-themes-filled: "\ec09";
$hm-public-display: "\ec0a";
$hm-public-display-filled: "\ec0b";
$hm-public-brightness: "\ec0c";
$hm-public-brightness-filled: "\ec0d";
$hm-public-sound: "\ec0e";
$hm-public-sound-filled: "\ec0f";
$hm-public-volume-down: "\ec10";
$hm-public-volume-down-filled: "\ec11";
$hm-public-sound-off: "\ec12";
$hm-public-sound-off-filled: "\ec13";
$hm-public-vibration: "\ec14";
$hm-public-vibration-filled: "\ec15";
$hm-public-donotdisturb: "\ec16";
$hm-public-donotdisturb-filled: "\ec17";
$hm-public-ring: "\ec18";
$hm-public-ring-filled: "\ec19";
$hm-public-ring-off: "\ec1a";
$hm-public-ring-off-filled: "\ec1b";
$hm-public-password-invisible: "\ec1c";
$hm-public-visual-accessibility: "\ec1d";
$hm-public-app: "\ec1e";
$hm-public-app-filled: "\ec1f";
$hm-public-appstore: "\ec20";
$hm-public-appstore-filled: "\ec21";
$hm-public-battery: "\ec22";
$hm-public-battery-filled: "\ec23";
$hm-public-storage: "\ec24";
$hm-public-storage-filled: "\ec25";
$hm-public-sd: "\ec26";
$hm-public-sd-filled: "\ec27";
$hm-public-security: "\ec28";
$hm-public-security-filled: "\ec29";
$hm-public-privacy: "\ec2a";
$hm-public-gps: "\ec2b";
$hm-public-gps-filled: "\ec2c";
$hm-public-navigation: "\ec2d";
$hm-public-navigation-filled: "\ec2e";
$hm-public-quickstart: "\ec2f";
$hm-public-quickstart-filled: "\ec30";
$hm-public-calendar: "\ec31";
$hm-public-calendar-filled: "\ec32";
$hm-public-time: "\ec33";
$hm-public-time-filled: "\ec34";
$hm-public-clock: "\ec35";
$hm-public-clock-filled: "\ec36";
$hm-public-worldclock: "\ec37";
$hm-public-worldclock-filled: "\ec38";
$hm-public-stopwatch: "\ec39";
$hm-public-stopwatch-filled: "\ec3a";
$hm-public-timer: "\ec3b";
$hm-public-timer-filled: "\ec3c";
$hm-public-camera: "\ec3d";
$hm-public-camera-filled: "\ec3e";
$hm-public-video: "\ec3f";
$hm-public-video-filled: "\ec40";
$hm-public-screencap: "\ec41";
$hm-public-screencap-filled: "\ec42";
$hm-gallery-shortcut-gallery-path1: "\ec43";
$hm-gallery-shortcut-gallery-path2: "\ec44";
$hm-gallery-shortcut-favorite-path1: "\ec45";
$hm-gallery-shortcut-favorite-path2: "\ec46";
$hm-gallery-shortcut-discover-path1: "\ec47";
$hm-gallery-shortcut-discover-path2: "\ec48";
$hm-public-picture: "\ec49";
$hm-public-picture-filled: "\ec4a";
$hm-public-albums: "\ec4b";
$hm-public-albums-filled: "\ec4c";
$hm-public-highlights: "\ec4d";
$hm-public-highlights-filled: "\ec4e";
$hm-gallery-discover: "\ec4f";
$hm-gallery-discover-filled-path1: "\ec50";
$hm-gallery-discover-filled-path2: "\ec51";
$hm-public-favorites: "\ec52";
$hm-public-favorites-filled: "\ec53";
$hm-public-highlight: "\ec54";
$hm-public-highlight-filled: "\ec55";
$hm-public-thumbsup: "\ec56";
$hm-public-thumbsup-filled: "\ec57";
$hm-gallery-blur: "\ec58";
$hm-gallery-blur-filled: "\ec59";
$hm-public-save: "\ec5a";
$hm-public-save-filled: "\ec5b";
$hm-gallery-list-damage: "\ec5c";
$hm-gallery-puzzle: "\ec5d";
$hm-gallery-map-all: "\ec5e";
$hm-gallery-cloud-synchronization: "\ec5f";
$hm-gallery-nocloud-light: "\ec60";
$hm-files-cloud-browse: "\ec61";
$hm-public-file: "\ec62";
$hm-public-file-filled: "\ec63";
$hm-public-notes: "\ec64";
$hm-public-notes-filled: "\ec65";
$hm-public-clean: "\ec66";
$hm-public-clean-filled: "\ec67";
$hm-public-history: "\ec68";
$hm-public-filter: "\ec69";
$hm-files-time-sort: "\ec6a";
$hm-files-size-sort: "\ec6b";
$hm-files-type-sort: "\ec6c";
$hm-files-spreadsheet-drive: "\ec6d";
$hm-files-presentation-drive: "\ec6e";
$hm-public-printer: "\ec6f";
$hm-public-drawer: "\ec70";
$hm-public-drawer-filled: "\ec71";
$hm-public-code: "\ec72";
$hm-public-code-filled: "\ec73";
$hm-contacts-birthday: "\ec74";
$hm-contacts-birthday-filled: "\ec75";
$hm-contacts-blood-type: "\ec76";
$hm-public-home: "\ec77";
$hm-public-home-filled: "\ec78";
$hm-contacts-company: "\ec79";
$hm-contacts-company-filled: "\ec7a";
$hm-contacts-earpiece-emergency: "\ec7b";
$hm-contacts-emergency-information-drug: "\ec7c";
$hm-contacts-medication-status-precautions: "\ec7d";
$hm-contacts-organ-donors: "\ec7e";
$hm-public-email: "\ec7f";
$hm-public-email-filled: "\ec80";
$hm-public-email-send: "\ec81";
$hm-public-email-send-filled: "\ec82";
$hm-public-fast: "\ec83";
$hm-public-fast-filled: "\ec84";
$hm-public-emoji: "\ec85";
$hm-public-emoji-filled: "\ec86";
$hm-public-face: "\ec87";
$hm-public-face-filled: "\ec88";
$hm-message-allread: "\ec89";
$hm-public-voice: "\ec8a";
$hm-public-voice-filled: "\ec8b";
$hm-message-continue: "\ec8c";
$hm-message-ppt: "\ec8d";
$hm-message-camera-path1: "\ec8e";
$hm-message-camera-path2: "\ec8f";
$hm-message-camera-path3: "\ec90";
$hm-message-emoji-path1: "\ec91";
$hm-message-emoji-path2: "\ec92";
$hm-message-emoji-path3: "\ec93";
$hm-message-emoji-path4: "\ec94";
$hm-message-emoji-path5: "\ec95";
$hm-message-emoji-1-path1: "\ec96";
$hm-message-emoji-1-path2: "\ec97";
$hm-message-emoji-2-path1: "\ec98";
$hm-message-emoji-2-path2: "\ec99";
$hm-message-emoji-2-path3: "\ec9a";
$hm-message-emoji-2-path4: "\ec9b";
$hm-message-emoji-2-path5: "\ec9c";
$hm-message-symbol: "\ec9d";
$hm-public-lock: "\ec9e";
$hm-public-lock-filled: "\ec9f";
$hm-public-unlock: "\eca0";
$hm-public-unlock-filled: "\eca1";
$hm-public-flashlight: "\eca2";
$hm-public-flashlight-filled: "\eca3";
$hm-desktop-servicewidgets: "\eca4";
$hm-desktop-pin: "\eca5";
$hm-desktop-widgets: "\eca6";
$hm-desktop-transitions: "\eca7";
$hm-desktop-perspective: "\eca8";
$hm-desktop-squeeze: "\eca9";
$hm-desktop-box: "\ecaa";
$hm-desktop-flipover: "\ecab";
$hm-desktop-rotate: "\ecac";
$hm-desktop-page: "\ecad";
$hm-desktop-windmill: "\ecae";
$hm-public-cards: "\ecaf";
$hm-public-cards-filled: "\ecb0";
$hm-public-car: "\ecb1";
$hm-public-car-filled-path1: "\ecb2";
$hm-public-car-filled-path2: "\ecb3";
$hm-public-questionnaire: "\ecb4";
$hm-public-questionnaire-filled: "\ecb5";
$hm-public-feedback: "\ecb6";

